body {
    /* background-color: #81b8e5;*/
    color: black;
    font-family: sans-serif;
    background-color: #e5e5f7;
    
    background-image: radial-gradient(#444cf7 0.8px, transparent 0.8px), radial-gradient(#444cf7 0.8px, #e5e5f7 0.8px);
    background-size: 32px 32px;
    background-position: 0 0,16px 16px;
}
.cont_Titulo {
    margin-top: 40px;
    text-align: center;
    width:100%;
}
.Titulo {
   
    text-align: center;
    font-weight: 300;
    font-size: 3rem;
    border: medium;
    border-radius: 20px;
    background-color: #a7abeb;
    padding: 15px;
    width: 50%;
    margin:auto;
}
.Tabla_Login {
    align-content: center;
    text-align: center;
    margin: auto;
    background-color: #cdd8fe;
    padding: 10px 30px;
    border:groove;
    border-color:black;
    border-radius:10px;
       
}
.cont_Tabla {
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.celda{
    padding:8px 0;
}
.textBox{
    border:hidden;
    border-radius:5px;
    margin-bottom:5px;
    width:160px;
}
.boton{
    margin-top:6px;
    cursor:pointer;
    background-color:black;
    color:white;
    border:hidden;
    border-radius:5px;
}
.checkBox{
    cursor:pointer;
}
/* -- menu administrador  ---  */




.usuario{
    margin-right:10px;
    text-align:right;
    font-size:15pt;
    
}
.Tabla_Menu {
    align-content: center;
    text-align: center;
    margin: auto;
    background-color: #cdd8fe;
    border-spacing: 15px;
    border: groove;
    border-color: black;
    border-radius: 10px;
    border-width: 5px;
    width: 100%;
    max-width: 400px;
    height: auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    
}
.row_menu_titulo {
    width: 100%;
    box-sizing: border-box;
    padding: 30px 20px;
    border-bottom: solid;
    border-width: 5px;
    border-color: black;
}
.titulo_menu{
    font-size:20pt;
}
.row_menu {
    width: 100%;  
    box-sizing: border-box; 
    padding: 20px 10px;
    border-top: groove;
    border-bottom: groove;
    border-width: 5px;
    border-color: black;
    border-radius: 20px;
    overflow: hidden;
  
}
.menu_link {
    text-decoration: none;
    padding: 10px 20px;
    width: auto;
    max-width: 100%;
    box-sizing: border-box;
    
    font-size: 15pt;
    display: block; 
    width: 100%; 
    box-sizing: border-box;
    text-align:center;
}

.cerrarSesion {
    text-decoration: blink;
    font-size: 15pt;
    text-align: left;
    margin-left: 10px;
    border: medium;
    border-radius: 20px;
    background-color: #a7abeb;
    padding: 10px;
}
/* abmls  */
.cont_nav{
    display:grid;
    margin:auto;
    gap:1em;
    grid-template-columns: repeat(auto-fit,minmax(260px,auto));
    margin-top:35px;
}
.cont_Volver{
    text-align:left;
}
.volver {
    text-decoration: blink;
    font-size: 15pt; 
    margin-left: 10px;
    border: medium;
    border-radius: 20px;
    background-color: #a7abeb;
    padding: 10px;
}
.cont_TituloAbml {
    width: 100%;
    text-align:center;
    margin-bottom: 50px;
}
.TituloAbml {
   font-weight: 10;
   font-size: 25pt;
   background-color: #fff;
   padding:15px;
   border:medium;
   border-radius:20px;
}
.cont_usuario{
    text-align:right;
}
.cont_tablaDatos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(#444cf7 0.8px, transparent 0.5px), radial-gradient(#444cf7 0.8px, #e5e5f7 0.8px);
    padding:10px 0px;
    border:solid;
    border-radius:10px;
   
}
.tabla_datos {
    margin:0 10px;
}
.cont_tablas {
    display: flex;
    gap: 1em;
    justify-content:space-evenly;
    margin-bottom:30px;
   
}

.celda1 {
    border-bottom: solid;
    border-bottom-left-radius: 10px;
    align-items: center;
    padding: 10px 5px 10px 5px;
    height: 30px;
}
.celda2 {
    align-items: center;
    border-bottom: solid;
    border-bottom-right-radius: 10px;
    text-align: center;
    padding: 10px 5px 10px 5px;
    height: 30px;
}
.filaDeColumnas {
    border-bottom:solid;
    border-color:black;
    padding-bottom:10px;
    text-align:center;
}
#c1 {
    border-bottom-left-radius:15px;
}
#c3{
    padding-right:7px;
}
#c4 {
    border-bottom-right-radius: 15px;
    padding-left: 7px;
}
.celda_horarios{
    padding: 10px 5px;
}
.gridView_container {
    background-color: white;
    display: flex;
    justify-content: center; /*horizontal*/
    align-items: center; /*vertical*/
    
}
.gridView{
    text-align:center;
    
    border:solid;
    border-color:black; 
}
/*------------------*/
.Tabla {
    width: 70%;
   
    margin:auto;
    
    background-color:black;
    color:white;
 
}

.Columna2 {
    /*
    width: 278px;
       height: 40px;
   */
    width:290px;
    text-align: left;
  
    padding-left: 10px;
    padding-right:5px;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom:solid;
    border-right:solid;
    border-color:chartreuse;
    border-width:medium;
}

.Columna1 {
    width: 290px;
    text-align: left;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid;
    border-left: solid;
    border-color: chartreuse;
    border-width: medium;
}
.Titulo2{
    background-color:chartreuse;
    border-radius:20px;
    padding:10px;
}